<section class="content">
    <div class="content__options">
        <label for="name">
            <input type="text" id="name" placeholder="Search" autocomplete="off" [(ngModel)]="searchText"  (ngModelChange)="search()" />
        </label>
        <button class="btn-primary" [routerLink]="['producto/crear']">
            Agregar producto
        </button>
    </div>
    <div class="content__table-container" *ngIf="products.length > 0">
        <table class="content__table">
            <thead>
                <tr>
                    <th>Logo</th>

                    <th>Producto</th>

                    <th>Descripcion</th>

                    <th>Fecha de liberacion</th>

                    <th>Fecha de revision</th>

                    <th>Acciones</th>
                </tr>
            </thead>
            <tr *ngFor="
          let item of products.slice(
            (actualPage - 1) * itemsPerPageNumber,
            actualPage * itemsPerPageNumber
          )
        ">
                <td>{{ item.logo }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.date_release }}</td>
                <td>{{ item.date_revision }}</td>
                <td>
                    <select class="content__select" name="options" id="options"
                        (change)="actionChange($event, item.id)">
                        <option value="-">-</option>
                        <option value="editar">Editar</option>
                        <option value="eliminar">Eliminar</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="content__table-options">
            <p>
                total de registros <strong>{{ products.length }}</strong>
            </p>
            <div>
                <button class="btn-primary" (click)="actualPage = actualPage - 1" [disabled]="actualPage === 1">
                    Anterior
                </button>
                <span>{{ actualPage }}</span>
                <button  class="btn-primary" (click)="actualPage = actualPage + 1" [disabled]="actualPage === lastPage()">
                    Siguiente
                </button>
            </div>
            <select class="content__select" name="options" id="options" [(ngModel)]="itemsPerPageNumber">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
        </div>
    </div>
</section>